
h1 {
 font-family: 'Candal';

 font-size: 45px;
  text-align: center;
  text-shadow: 0 0 5px #3399ff;
}
 .container button:hover{
  background-color: blue;

}
.category {
  display: inline-block;
  text-align: center;
  font-family: 'Candal';
  font-size: 25px;
  background: #666699;
  width: 15%;
  color: black;
  height: 40px;
  border: 3px solid;
  border-radius:25px;
  text-shadow: 1px 2px 2px white;
}
.container button:active{
  background-color:black;
}

body{
  text-align: center;
  background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSsH36fAFw6ydONhnz1NauIkK4MXErCEdjCZZtz3HjRdPOeeI18eA");
  background-size: cover;
    }

button {
 display:inline-block;
 text-align:center;
 height:45px;
 width:10%;
 margin:35px;
 background-color:grey;
 border:3px solid black;
 border-radius:25px;
  font-size:17px;
  font-weight: bold;
  color:white;
}
